* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: black;
}

body {
  background-color: rgba(90, 152, 187, 0.85);
}

@keyframes search-up {
  0% {
    top: 50%;
  }
  100% {
    top: 10%;
  }
}

.container {
  margin: 40px auto;
  width: 75%;
}

.form {
  width: 25%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.results {
  margin-top: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
}

.result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 2px solid black;
  margin: 10px;
  padding: 25px;
  background-color: rgba(228, 235, 232, 0.75);
}

.result-key {
  margin: 10px;
  padding: 10px;
  border-right: 5px solid black;
}

.result-key h3 {
  text-align: center;
}
